---
import { Image } from "astro:assets";
import c1 from "../assets/1.png";
import c2 from "../assets/2.png";
import c3 from "../assets/3.png";
import c4 from "../assets/4.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>My Wedding</title>
  </head>
  <body class="bg-background">
    <div class="fixed inset-0 pointer-events-none z-30">
      <div class="relative w-full h-full">
        <div
          class="absolute top-0 left-0 w-[200px] h-[200px] md:w-[300px] md:h-[300px] lg:w-[500px] lg:h-[500px]"
        >
          <Image src={c1} alt="Top Left" class="max-w-full h-auto" />
        </div>
        <div
          class="absolute top-0 right-0 w-[200px] h-[200px] md:w-[300px] md:h-[300px] lg:w-[500px] lg:h-[500px]"
        >
          <Image src={c2} alt="Top Right" class="max-w-full h-auto" />
        </div>
      </div>
    </div>
    <slot />
    <div class="fixed inset-0 pointer-events-none z-0">
      <div class="relative w-full h-full">
        <div
          class="absolute bottom-0 left-0 w-[200px] h-[200px] md:w-[300px] md:h-[300px] lg:w-[500px] lg:h-[500px]"
        >
          <Image src={c3} alt="Bottom Left" class="max-w-full h-auto" />
        </div>
        <div
          class="absolute bottom-0 right-0 w-[200px] h-[200px] md:w-[300px] md:h-[300px] lg:w-[500px] lg:h-[500px]"
        >
          <Image src={c4} alt="Bottom Right" class="max-w-full h-auto" />
        </div>
      </div>
    </div>
    <style is:global>
      @keyframes enter-animation {
        0% {
          transform: translateY(100px); /* Animate position */
        }
        100% {
          transform: translateY(0);
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        .in-animation {
          animation: enter-animation 0.8s ease-out 1;
          will-change: transform; /* Optimize animation rendering */
        }
      }
    </style>
    <script>
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              // Add the animation class when 50% of the element is visible
              entry.target.classList.add("in-animation");
            } /* else {
              // Remove the animation class when it leaves the viewport
              entry.target.classList.remove("in-animation");
            } */
          });
        },
        {
          threshold: 0.0, // Trigger when 50% of the element is visible
        }
      );

      const viewbox = document.querySelectorAll(".animate");
      viewbox.forEach((image) => {
        observer.observe(image);
      });
    </script>
  </body>
</html>
